.Heading-1
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Heading-2,.Important
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u957-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u956-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u958-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u959-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1291-4,#u1292-4,#u1294-8,#u895-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u896-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u890-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u891-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u888-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u901-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u902-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u898-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u899-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu893_input,#widgetu893_prompt,#widgetu889_input,#widgetu889_prompt,#widgetu897_input,#widgetu897_prompt
{
	font-family: source-sans-pro, sans-serif;
}

#u942-4,#u914-4,#u906-4,#u919-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u915-4,#u907-4,#u920-4,#u916-4,#u908-4,#u921-4,#u917-4,#u909-4,#u922-4,#u910-4,#u923-4,#u918-4,#u911-4,#u912-4,#u913-4,#u930-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

