.Heading-1
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Heading-2,.Important
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1220-4,#u1223-4,#u1224-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1233-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1234-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1237-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1238-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1241-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1240-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1230-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1244-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1243-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu1232_input,#widgetu1232_prompt,#widgetu1236_input,#widgetu1236_prompt,#widgetu1242_input,#widgetu1242_prompt
{
	font-family: source-sans-pro, sans-serif;
}

#u1247-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1248-4,#u1249-4,#u1250-4,#u1251-4,#u1252-4,#u1253-4,#u1254-4,#u1261-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

