.version.index /* version checker */
{
	color: #000007;
	background-color: #AC4B65;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	width: 0.01px;
}

#u1201
{
	z-index: 2;
	width: 379px;
	height: 142px;
	margin-right: -10000px;
}

#u1202
{
	z-index: 3;
	width: 343px;
	padding-bottom: 300px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 18px;
}

#u1204-4
{
	z-index: 5;
	margin-right: -10000px;
	margin-top: 94px;
	left: 19px;
}

#u1205
{
	z-index: 9;
	width: 379px;
	margin-right: -10000px;
	margin-top: 142px;
}

#u1206
{
	z-index: 10;
	width: 379px;
	padding-bottom: 72px;
	margin-right: -10000px;
}

#u1207-4
{
	z-index: 11;
	width: 321px;
	min-height: 51px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 29px;
}

#u1210-4
{
	z-index: 17;
	width: 355px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 310px;
	left: 12px;
}

#u1208
{
	z-index: 15;
	width: 128px;
	height: 2px;
	margin-left: 9px;
	margin-top: 18px;
}

#u1209
{
	z-index: 16;
	width: 331px;
	height: 2px;
	margin-left: 40px;
	top: -2px;
	margin-bottom: -2px;
}

#u1211
{
	z-index: 22;
	height: 134px;
	width: 363px;
	margin-left: 8px;
	margin-top: 50px;
}

#u1212
{
	z-index: 24;
	width: 379px;
	margin-left: 1px;
	margin-top: 19px;
}

#u1213
{
	z-index: 25;
	width: 379px;
	height: 259px;
	margin-right: -10000px;
}

#u1216-6
{
	z-index: 28;
	margin-left: 24px;
	margin-top: 67px;
}

#u1214
{
	z-index: 26;
	width: 128px;
	height: 2px;
	margin-left: 17px;
	margin-top: 6px;
}

#u1215
{
	z-index: 27;
	width: 128px;
	height: 2px;
	margin-left: 233px;
	top: -2px;
	margin-bottom: -2px;
}

#u1217
{
	z-index: 35;
	height: 1076px;
	width: 344px;
	margin-left: 18px;
	margin-top: 58px;
}

#u1218
{
	z-index: 37;
	width: 350px;
	height: 1px;
	margin-left: 16px;
	margin-top: 36px;
}

#u1219
{
	z-index: 38;
	width: 366px;
	margin-left: 1px;
	margin-top: 33px;
	padding: 18px 6px 31.199999999999818px 7px;
}

#u1220-4
{
	z-index: 39;
	width: 318px;
	min-height: 36px;
	margin-left: 24px;
}

#u1223-4
{
	z-index: 45;
	width: 314px;
	min-height: 27px;
	margin-left: 26px;
	margin-top: 9px;
}

#u1221
{
	z-index: 43;
	width: 128px;
	height: 2px;
	margin-left: 1px;
	margin-top: 40px;
}

#u1222
{
	z-index: 44;
	width: 128px;
	height: 2px;
	margin-left: 235px;
	top: -2px;
	margin-bottom: -2px;
}

#u1224-4
{
	z-index: 49;
	width: 365px;
	min-height: 96px;
	margin-top: 25px;
}

#u1224-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 96px;
	width: 365px;
	margin: 25px 0px 0px;
}

#u1225
{
	z-index: 53;
	width: 365px;
	min-height: 234px;
	margin-left: 1px;
	margin-top: 25px;
}

#pu1201,#pu1227
{
	width: 0.01px;
	margin-left: 1px;
}

#u1227
{
	z-index: 54;
	width: 379px;
	margin-right: -10000px;
}

#u1228
{
	z-index: 55;
	width: 379px;
	height: 310px;
	margin-right: -10000px;
}

#widgetu1229
{
	z-index: 56;
	width: 0.01px;
	height: 266px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 19px;
}

#widgetu1232
{
	z-index: 57;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1232.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1233-4
{
	z-index: 58;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u1234-4
{
	z-index: 62;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1232:hover #u1234-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1232.focus-st #u1234-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1236
{
	z-index: 66;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu1236.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1237-4
{
	z-index: 67;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u1238-4
{
	z-index: 71;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1232.fld-err-st #u1234-4,#widgetu1236:hover #u1238-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1236.focus-st #u1238-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1236.fld-err-st #u1238-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1232_input,#widgetu1232_prompt,#widgetu1236_input,#widgetu1236_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#u1241-4
{
	z-index: 75;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u1240-4
{
	z-index: 79;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u1230-4
{
	z-index: 83;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu1229.frm-sub-st #u1241-4,#widgetu1229.frm-subm-err-st #u1240-4,#widgetu1229.frm-subm-ok-st #u1230-4
{
	min-height: 25px;
}

#u1231-17
{
	z-index: 87;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 235px;
}

#widgetu1242
{
	z-index: 104;
	width: 342px;
	height: 101px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu1242.fld-err-st
{
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u1244-4
{
	z-index: 105;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1232.fld-err-st #u1233-4,#widgetu1236.fld-err-st #u1237-4,#widgetu1242.fld-err-st #u1244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1243-4
{
	z-index: 109;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1242:hover #u1243-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1242.focus-st #u1243-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1242.fld-err-st #u1243-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1242_input,#widgetu1242_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu1232:hover #widgetu1232_input,#widgetu1232.focus-st #widgetu1232_input,#widgetu1232.fld-err-st #widgetu1232_input,#widgetu1232:hover #widgetu1232_prompt,#widgetu1232.focus-st #widgetu1232_prompt,#widgetu1232.fld-err-st #widgetu1232_prompt,#widgetu1236:hover #widgetu1236_input,#widgetu1236.focus-st #widgetu1236_input,#widgetu1236.fld-err-st #widgetu1236_input,#widgetu1236:hover #widgetu1236_prompt,#widgetu1236.focus-st #widgetu1236_prompt,#widgetu1236.fld-err-st #widgetu1236_prompt,#widgetu1242:hover #widgetu1242_input,#widgetu1242.focus-st #widgetu1242_input,#widgetu1242.fld-err-st #widgetu1242_input,#widgetu1242:hover #widgetu1242_prompt,#widgetu1242.focus-st #widgetu1242_prompt,#widgetu1242.fld-err-st #widgetu1242_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1246
{
	z-index: 113;
	width: 335px;
	margin-left: 1px;
	padding: 48px 22px 33px;
}

#u1247-4
{
	z-index: 114;
	width: 335px;
}

#u1248-4
{
	z-index: 118;
	width: 195px;
	min-height: 22px;
	margin-left: 71px;
	margin-top: 24px;
}

#u1249-4
{
	z-index: 122;
	width: 195px;
	min-height: 22px;
	margin-left: 71px;
	margin-top: 11px;
}

#u1250-4
{
	z-index: 126;
	width: 195px;
	min-height: 22px;
	margin-left: 71px;
	margin-top: 11px;
}

#u1251-4
{
	z-index: 130;
	width: 195px;
	min-height: 22px;
	margin-left: 71px;
	margin-top: 11px;
}

#u1252-4
{
	z-index: 134;
	width: 195px;
	min-height: 22px;
	margin-left: 71px;
	margin-top: 10px;
}

#u1253-4
{
	z-index: 138;
	width: 195px;
	min-height: 22px;
	margin-left: 71px;
	margin-top: 11px;
}

#u1254-4
{
	z-index: 142;
	width: 195px;
	min-height: 22px;
	margin-left: 71px;
	margin-top: 11px;
}

#pu1255
{
	width: 0.01px;
	margin-left: 102px;
	margin-top: 29px;
}

#u1255
{
	z-index: 146;
	width: 42px;
	margin-right: -10000px;
}

#u1259
{
	z-index: 150;
	width: 42px;
	margin-right: -10000px;
	left: 45px;
}

#u1257
{
	z-index: 148;
	width: 42px;
	margin-right: -10000px;
	left: 90px;
}

#u1261-4
{
	z-index: 152;
	width: 328px;
	min-height: 18px;
	margin-left: 4px;
	margin-top: 55px;
}

#u1261-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 328px;
	margin: 55px 0px 0px 4px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

