.Heading-1
{
	font-family: source-sans-pro-n7, sans-serif;
}

.Heading-2,.Important
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1395-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1394-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1396-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1397-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1405-4,#u1406-4,#u1408-8,#u1344-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1343-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1348-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1347-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1352-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1349-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1351-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1338-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1339-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu1341_input,#widgetu1341_prompt,#widgetu1345_input,#widgetu1345_prompt,#widgetu1337_input,#widgetu1337_prompt
{
	font-family: source-sans-pro, sans-serif;
}

#u1387-4,#u1364-4,#u1356-4,#u1369-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1365-4,#u1357-4,#u1370-4,#u1366-4,#u1358-4,#u1371-4,#u1367-4,#u1359-4,#u1372-4,#u1360-4,#u1373-4,#u1368-4,#u1361-4,#u1362-4,#u1363-4,#u1380-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

