#u1392
{
	border-color: #3B5996;
	background-color: #34EBEB;
}

#u1319
{
	border-color: #000000;
	background: #FFFFFF url("../../images/beach%201.jpg") no-repeat center center;
}

#u1320
{
	background: transparent url("../../images/u1320-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(60%, rgba(52,235,235,0.5)),to(rgba(255,255,255,0.46)));
	background: -webkit-linear-gradient(top,rgba(52,235,235,0.5) 60%,rgba(255,255,255,0.46) );
	background: linear-gradient(to bottom,rgba(52,235,235,0.5) 60%,rgba(255,255,255,0.46) );
	border-color: #000000;
}

#u1399-5
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u1388-4
{
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	position: relative;
}

#u1393
{
	border-color: #000000;
	background: #FFFFFF url("../../images/pattern.jpg") repeat left top;
}

#u1395-4
{
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #3B5996;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1395-4:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #3B5996;
}

#u1394-4
{
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #3B5996;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1395-4.MuseLinkActive,#u1394-4:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #3B5996;
}

#u1396-4
{
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #3B5996;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1394-4.MuseLinkActive,#u1396-4:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #3B5996;
}

#u1397-4
{
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #3B5996;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1396-4.MuseLinkActive,#u1397-4:hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #3B5996;
}

#u1397-4.MuseLinkActive
{
	border-width: 2px;
	border-style: solid;
	border-color: #3B5996;
}

#u1395-4.MuseLinkActive p,#u1394-4.MuseLinkActive p,#u1396-4.MuseLinkActive p,#u1397-4.MuseLinkActive p
{
	text-align: center;
}

#u1381-4
{
	background-color: transparent;
	line-height: 30px;
	position: relative;
}

#u1382
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1382.png") no-repeat 0px 0px;
}

#u1382:hover
{
	background: url("../../images/u1382-r.png") no-repeat 0px 0px;
}

#u1383_clip
{
	overflow: hidden;
}

#u1402
{
	background: transparent url("../../images/u1402-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(60%, rgba(52,235,235,0.5)),to(rgba(255,255,255,0.46)));
	background: -webkit-linear-gradient(top,rgba(52,235,235,0.5) 60%,rgba(255,255,255,0.46) );
	background: linear-gradient(to bottom,rgba(52,235,235,0.5) 60%,rgba(255,255,255,0.46) );
	border-color: #000000;
	position: relative;
}

#u1385
{
	border-color: #000000;
	background: #FFFFFF url("../../images/femi.jpg") no-repeat center top;
}

#u1386
{
	background: transparent url("../../images/u1386-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(60%, rgba(52,235,235,0.5)),to(rgba(255,255,255,0.46)));
	background: -webkit-linear-gradient(top,rgba(52,235,235,0.5) 60%,rgba(255,255,255,0.46) );
	background: linear-gradient(to bottom,rgba(52,235,235,0.5) 60%,rgba(255,255,255,0.46) );
	border-color: #000000;
}

#u1323
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1323.png") no-repeat 0px 0px;
}

#u1323:hover
{
	background: url("../../images/u1323-r.png") no-repeat 0px 0px;
}

#u1324
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1324.png") no-repeat 0px 0px;
}

#u1324:hover
{
	background: url("../../images/u1324-r.png") no-repeat 0px 0px;
}

#u1326
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1326.png") no-repeat 0px 0px;
}

#u1326:hover
{
	background: url("../../images/u1326-r.png") no-repeat 0px 0px;
}

#u1327
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1327.png") no-repeat 0px 0px;
}

#u1327:hover
{
	background: url("../../images/u1327-r.png") no-repeat 0px 0px;
}

#u1329
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1329.png") no-repeat 0px 0px;
}

#u1329:hover
{
	background: url("../../images/u1329-r.png") no-repeat 0px 0px;
}

#u1331
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1331.png") no-repeat 0px 0px;
}

#u1331:hover
{
	background: url("../../images/u1331-r.png") no-repeat 0px 0px;
}

#u1325,#u1328,#u1330,#u1332
{
	border-color: #000000;
	background-color: #34EBEB;
	position: relative;
}

#u1321,#u1322,#u1333,#u1334
{
	border-color: #000000;
	background-color: #3B5996;
	position: relative;
}

#u1405-4
{
	background-color: transparent;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	color: #3B5996;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1406-4
{
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #3B5996;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1408-8
{
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #4E5FD7;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1317
{
	border-color: #000000;
	background: #FFFFFF url("../../images/beach%202.jpg") no-repeat center center;
}

#u1335
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(52,235,235,0.5)),color-stop(100%, rgba(255,255,255,0.46)));
	background: -webkit-linear-gradient(top,rgba(52,235,235,0.5) ,rgba(255,255,255,0.46) 100%);
	background: linear-gradient(to bottom,rgba(52,235,235,0.5) ,rgba(255,255,255,0.46) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F34EBEB, endColorstr=#75FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F34EBEB', endColorstr='#75FFFFFF', GradientType=0)";
	border-color: #000000;
}

#top,#about,#anchor-u1390,#location,#widgetu1336
{
	position: relative;
}

#u1403,#widgetu1341
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1344-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1343-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	line-height: 14px;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu1341.non-empty-st #u1343-4
{
	background-color: #FFFFFF;
}

#widgetu1341:hover #u1343-4
{
	border-color: #6B6B6B;
}

#widgetu1341.focus-st #u1343-4
{
	border-color: #6B6B6B;
}

#widgetu1341.non-empty-st #u1343-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1341:hover #u1343-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1341.focus-st #u1343-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1345
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1348-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1347-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	line-height: 14px;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu1345.non-empty-st #u1347-4
{
	background-color: #FFFFFF;
}

#widgetu1345:hover #u1347-4
{
	border-color: #6B6B6B;
}

#widgetu1345.focus-st #u1347-4
{
	border-color: #6B6B6B;
}

#widgetu1345.non-empty-st #u1347-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1345:hover #u1347-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1345.focus-st #u1347-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1352-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu1336.frm-sub-st #u1352-4 p
{
	color: #000000;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1349-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu1336.frm-subm-err-st #u1349-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1351-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu1336.frm-sub-st #u1352-4,#widgetu1336.frm-subm-err-st #u1349-4,#widgetu1336.frm-subm-ok-st #u1351-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu1336.frm-subm-ok-st #u1351-4 p
{
	color: #000000;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1350-17
{
	position: relative;
	background: url("../../images/u1350-17.png") no-repeat 0px 0px;
}

#u1350-17:hover
{
	background: url("../../images/u1350-17-r.png") no-repeat 0px 0px;
}

#u1350-17:active
{
	background: url("../../images/u1350-17-m.png") no-repeat 0px 0px;
}

#widgetu1336.frm-sub-st #u1350-17
{
	background: url("../../images/u1350-17-fs.png") no-repeat 0px 0px;
}

#widgetu1337
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu1341.fld-err-st,#widgetu1345.fld-err-st,#widgetu1337.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u1338-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu1341.fld-err-st #u1344-4,#widgetu1337.fld-err-st #u1338-4
{
	border-style: none;
	border-color: transparent;
}

#widgetu1341.fld-err-st #u1344-4 p,#widgetu1341.fld-err-st #u1344-4 span,#widgetu1345.fld-err-st #u1348-4 p,#widgetu1345.fld-err-st #u1348-4 span,#widgetu1337.fld-err-st #u1338-4 p,#widgetu1337.fld-err-st #u1338-4 span
{
	color: #D7244C;
}

#u1339-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	line-height: 14px;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#widgetu1337.non-empty-st #u1339-4
{
	background-color: #FFFFFF;
}

#widgetu1337:hover #u1339-4
{
	border-color: #6B6B6B;
}

#widgetu1337.focus-st #u1339-4
{
	border-color: #6B6B6B;
}

#widgetu1341.fld-err-st #u1343-4,#widgetu1345.fld-err-st #u1347-4,#widgetu1337.fld-err-st #u1339-4
{
	border-color: #D7244C;
}

#widgetu1337.non-empty-st #u1339-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1337:hover #u1339-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1337.focus-st #u1339-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1341.fld-err-st #u1343-4 *,#widgetu1345.fld-err-st #u1347-4 *,#widgetu1337.fld-err-st #u1339-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1341_input,#widgetu1341_prompt,#widgetu1345_input,#widgetu1345_prompt,#widgetu1337_input,#widgetu1337_prompt
{
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-style: italic;
	font-weight: 400;
}

#widgetu1341.focus-st #widgetu1341_prompt,#widgetu1341.non-empty-st #widgetu1341_prompt,#widgetu1345.focus-st #widgetu1345_prompt,#widgetu1345.non-empty-st #widgetu1345_prompt,#widgetu1337.focus-st #widgetu1337_prompt,#widgetu1337.non-empty-st #widgetu1337_prompt
{
	visibility: hidden;
}

#u1318,#u1353
{
	border-color: #000000;
	background-color: #34EBEB;
}

#u1387-4,#u1364-4,#u1356-4,#u1369-4
{
	background-color: transparent;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u1365-4,#u1357-4,#u1370-4,#u1366-4,#u1358-4,#u1371-4,#u1367-4,#u1359-4,#u1372-4,#u1360-4,#u1373-4,#u1368-4,#u1361-4,#u1362-4,#u1363-4
{
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1400,#u1383,#u1374,#u1378,#u1376
{
	background-color: transparent;
	position: relative;
}

#u1380-4
{
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1380-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u1354,#u1355
{
	border-color: #000000;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,-1,1,0,179,180);
	-ms-transform: matrix(0,-1,1,0,179,180);
	transform: matrix(0,-1,1,0,179,180);
	position: relative;
}

